{{% extends 'base.html' %}}
{{% block content %}}
{{% load humanize %}}
{{% csrf_token %}}



    <h1>{{ post.title }}</h1>
    <p>{{ post.text_content }}</p>
    <img src="{{ post.image.url }}" alt="Post Image">
    <p>Author: {{ post.author.username }}</p>
    <p>Likes: {{ post.total_likes }}</p>
    <form method="post" action="{% url 'like_post' post_id=post.id %}">
        {% csrf_token %}
        <button type="submit">Like</button>
    </form>
    <h2>Comments</h2>
    {% for comment in post.comments.all %}
        <div>
            <p>{{ comment.text_content }}</p>
            <p>Author: {{ comment.author.username }}</p>
            <p>Likes: {{ comment.comment_total_likes }}</p>
        </div>
    {% endfor %}
    <h2>Add Comment</h2>
    <form method="post" action="{% url 'add_comment' post_id=post.id %}">
        {% csrf_token %}
        <label for="text_content">Comment:</label>
        <textarea name="text_content"></textarea><br>
        <button type="submit">Add Comment</button>
    </form>
</body>
</html>

{{% endblock %}}
